* {
	text-decoration:none;
	margin:0px;
	padding:0px;
}

body {
	font-family:tahoma, arial, sans-serif;
	background-color:#000;
	width: 100%;
	font-size: 16px;
	
}

.rNim {
	font-weight:bold;
	font-size: 1.0em;
	color:#FFFF00;
}

.ptkNr {
	font-weight:bold;
	font-size:1.0em;
	color:#FF0000;
}

.salmPlkr {
	font-weight:bold;
	margin-top:0.5em;
	margin-bottom:0.5em;
	color:#0000FF;
	font-size: 1.0em;
}

.salmiNr {
	color:#FFFF00;
	font-size: 1.0em;
}

.salm {
	margin-bottom:5px;
	padding:2px;
	font-size:1.0em;
}

#loading {
	position: absolute;
	width: 100%;
	height:100%;
	text-align: center;
	background-color: #F0F0F0;
	opacity: 0.8;
	z-index: 2;
}

#img_container {
	display: inline-block;
	vertical-align: middle;
	height:100%;
}

img {
	vertical-align: middle;
}

#copy-kast {
	display: none;
	vertical-align: 130%;
	cursor: pointer;

}

#kast {
	float:right;
	color:white;
}
#header>a:hover {
	font-size:1.1em;
	color:white;
	text-decoration:underline;
}

#HdPr {
	top:0px;
	min-width:400px;
	width:100%;
	position:fixed;
	height:50px;
}

#header {
	padding:0% 0.5% 0% 0.5%;
	background-color:rgba(0,0,0,0.8);
	color:#FFFFFF;
}

.peida,#otsi,button[value='pgUp'],button[value='pgDown'],button[value='uusSalm'] {
	display:none;
}

table {
	display: inline-block;
}

#settings table td {
	padding:2.5px;
}

.TextAlCenter {
	text-align: center;
}

#otsi {
	height:19px;
	width: 160px;
}

button{
	background-color:#FFFFFF;
	border-radius: 3px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:900;
	font-size:0.8em;
	border:0.5px solid #7E807A;
	color:#7E807A;
	text-shadow: 0.1px -0.5px #626363;
	padding:0px 2px;
	width:80px;
}

button:hover {
	color:black;
	background-color:#FAFAFA;
}

button:active {
	color:black;
	background-color:#F9F9F9;
}

input {
	 border-radius: 3px;
	 box-shadow: 1px 1px 0 #060606 inset;
	 font-family:tahoma, sans-serif;
	 color: #7E807A;
	 border:solid 0.4px #BFBDBD;
}

label {
	font-weight:900;
}

#wraper {
	margin:60px 0px 0px 5px;
	display:-moz-box; /* Firefox */
	display:-webkit-box; /* Safari and Chrome */
	display:-ms-flexbox; /* Internet Explorer 10 */
	display:flex;
}

#EST_97, #EST_68 {
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari and Chrome */
	-ms-flex:1.0; /* Internet Explorer 10 */
	box-flex:1.0;
	flex-grow:1.0;
}


#outline {
	position: fixed;
	top:50px;
	right:0px;
	border: solid 1px black;
}

.salmiAsukoht {
	font-weight: bold;
}

.salmiAsukoht:hover{
	cursor:pointer;
	text-decoration:underline
}